body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 430px;
    margin: 0 auto;
    padding: 20px;
    background-color: paleturquoise;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button#startButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

p#message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.startButton{
    border-radius: 40px;
}